/**
* App CSS
*/
#app {
	padding-top: 30px;
	background: #fff;
	position: relative;
	box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	width: 50%;
}

input {
	width: 50%;
	height: 50px;
	display: block;
	margin: 0;
	font-size: 25pt;
	box-shadow: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

section {
	
}